//simple colors
$white: #ccc;
$black: #000;

//project colors
$primary: #013a63;
$secondary: #012a4a;
$additional: #2a6f97;
$accent: $white;

$background-color: $primary;

//font colors
$primary-text-color: $accent;
$secondary-text-color: $additional;
$additional-text-color: $secondary;

