@import "src/styles/colors";

.password-field{
  width: 100%;
  background-color: $secondary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: solid 0.75px $additional;
  border-radius: 7px;
  padding: 10px;
  color: $primary-text-color;
  font-size: 16px;

  &__input{
    width: 100%;
    background-color: $secondary;
  }

  &__img{
    cursor: pointer;
  }
}